{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        <section class="gh-topic gh-topic-grid">
            <div class="gh-team-content">
                {{> "topic-grid-team"}}
            </div>

        </section>
    </div>
</main>